/* Main */

.header {
	margin: auto;
	width: 70%;
	/* min-width : 600px; */
	padding: 20px;
	transition: width 0.5s;
}

.footer {
	margin: auto;
	width: 70%;
	/* min-width : 600px; */
	padding: 0px;
	text-align: center;
	transition: width 0.5s;
}

.content {
	margin: auto;
	width: 70%;
	/* min-width : 600px; */
	border: 3px solid #303030;
	padding: 30px;
	background-color: #202020;
	border-radius: 20px;
	box-shadow: 5px 5px 10px 0px #000000;
	transition: width 0.5s;
}

/* Large Screen (PC) */
@media screen and (min-width: 1200px) {
  .header, .footer, .content {
    width: 50%;
  }
}

/* Small Screen (PC) */
@media screen and (max-width: 1000px) {
  .header, .footer, .content {
	width: 85%;
  }
}

/* Very Small Screen (Assue Mobile) */
@media screen and (max-width: 600px) {
	.header, .footer, .content {
	 width: 90%;
	 padding: 10px;
	}
	.logo-header-div {
		justify-content: center;
	}
}

@media screen and (max-width: 400px) {
	.logo-header-div {
		text-align: center;
	}
	.logo-text-div {
		width : 100%;
	}
}

/* latin-ext 
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}
*/
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}

body {
	font-family: 'Lato', sans-serif;
	background-color: #08151f; /* #252830 */
	/*
	background: repeating-linear-gradient(
	0deg,
	#05171d 0px,
	#071f25 15px,
    #05171d 200px
	);
	*/

	background: linear-gradient(#00000000 50%, rgb(0,0,0) 100%),
				repeating-conic-gradient(#07151a 0% 25%, #021a22 5% 50%) 0% / 50px 50px;

	/*background: repeating-conic-gradient(#07151a 0% 25%, #021a22 5% 50%);*/
	/*background-size: 60px 60px;*/

	background-attachment: fixed;
	color: #dddddd;
	line-height: 170%;
	word-break: break-word;
}

/* Navigation */

.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #202020;
	border-radius: 15px;
	border: 3px solid #303030;
	box-shadow: 5px 5px 10px 0px #000000;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  text-align: center;
  padding: 5px 20px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #008899;
}

.nav-links ul {
	list-style-type: none;
	/* margin set later */
	padding: 0px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-links li {
	float: right;
}

.nav-links li a {
	display: block;
	padding: 5px 5px;
}

/* Logo */

.logo {
	background-color: #ffffff;
	border-radius: 50%;
	float: left;
}

.logo-header-div {
	display : flex;
	flex-wrap: wrap;
	align-items: center;
}

.logo-text-div {
	display : inline-block;
	margin : 15px 15px;
}

.logo-text {
	color: #00aabb;
	text-decoration: none;
}

nav {
	clear : both;
}

/* Link Colours */

a:link {
  color: #00aabb;
}

a:visited {
  color: #00aabb;
}

a:hover {
  color: #00ddff;
}

a:active {
  color: #00ddff;
}

/* Card */

.card {
	margin-top: 20px;
	border-radius : 10px;
	background-color: #282828;
	line-height: 120%;
	/*border: 3px solid #303030;*/
}

.card-text {
	padding: 12px;
    overflow: hidden;
}

.card:hover {
	background-color: #303030;
	/*border: 3px solid #404040;*/
}

.card:hover > .card-text > h2 > a {
	color: #00ddff;
}

.card-compact:hover {
	background-color: #303030;
	/*border: 3px solid #404040;*/
}

.card-compact:hover > .card-text > h2 > a {
	color: #00ddff;
}

/*
.card-grid {
	display: grid;
	grid: 200px / auto auto auto
}

.card-sqr {
	display: inline-grid;
	clear : left;
	border-radius : 10px;
	background-color: #282828;
	border: 3px solid #303030;
	height : 146px;
}

.card-sqr > .card-text {
	display: none;
}
*/

/* (Assume PC) */
@media screen and (min-width: 600px) {

	.card-image-box-2 {
		background-color: #151515;
		border-radius: 10px 10px 0px 0px;
	}

	.card-image {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width : unset;
		height : unset;
		max-width: 90%;
		max-height: 300px;
	}
	
	.card-compact {
		clear : left;
		margin-top: 6px;
		border-radius : 10px;
		background-color: #282828;
		line-height: 120%;
		display: flex;
		align-content: flex-start;
		/*border: 3px solid #303030;*/
	}
	
	.card-compact:hover > .card-image-box > .card-image-small {
		height : 110%;
		bottom : 5%;
	}
	
	.card-image-box { /* only used for .card-compact / .card-image-small*/
		border-radius: 10px 0px 0px 10px;
		min-width : 200px;
		overflow: hidden;
		background-color: #151515;
	}
	
	.card-image-small {
		/* display: block; */
		margin : 0;
		height : 100%;
		object-fit: cover;
		transition: height 0.4s, bottom 0.4s;
		position : relative;
		bottom : 0px;
	}
	
	.nav-links-div {
		margin-top : -30px;
		float: right;
	}

	.nav-links ul {
		margin: 0;
	}

	.nav-links li {
		padding: 0px 2px;
	}

}

/* Very Small Screen (Assume Mobile) */
@media screen and (max-width: 600px) {
	
	.card-compact {
		margin-top: 20px;
		border-radius : 10px;
		background-color: #282828;
		/* border: 3px solid #151515; */
		line-height: 120%;
		/*border: 3px solid #303030;*/
	}
	
	.card-image, .card-image-small {
		width : 100%;
		height : 150px;
		border-radius: 10px 10px 0px 0px;
		margin : auto;
		object-fit: cover;
		background-color: #151515;
	}

	.nav-links-div {
		margin-top : 10px;
	}

	.nav-links ul {
		margin: 10px;
	}

	.nav-links li {
		padding: 0px 5px;
	}
	
}

.card-text h2 {
	line-height: 100%;
}

.card-text time {
	font-size: 13px;
}

/* Misc */

time {
	color: #888;
}

.title-no-margin {
	margin: 0;
}

.link-plain {
	color: #00aabb;
	text-decoration: none;
}

.small-text {
	font-size: 13px;
}

/* Post Elements */

.post-metadata {
	margin : 10px 0px 10px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.tag {
	line-height: 100%;
	display: inline-block;
	background-color: #00aabb;
	border-radius : 10px;
	padding : 5px;
	margin-left : 2px;
}

.node {
	display: inline-block;
	line-height: 100%;
	color: #00aabb;
	background-color: #303030;
	padding-top : 3px;
	padding-bottom : 3px;
	padding-left : 7px;
	padding-right : 7px;
	margin : 0px;
	border: 2px solid #161616;
	border-radius : 10px;
}

.highlight {
	line-height: 120%;
}

.twitter-tweet {
	margin : auto;
}

img {
	max-width: 100%;
	object-fit: scale-down;
}

video {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.img-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.img-left {
	display: block;
	float : left;
	margin-right : 20px;
	margin-top : 10px;
	margin-bottom : 10px;
}

.img-right {
	display: block;
	float : right;
	margin-left : 20px;
	margin-top : 10px;
	margin-bottom : 10px;
}

.img-text {
	color : #888888;
	font-size: 13px;
	text-align: center;
	margin : auto;
}

.img-clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/* Code Snippets */

/* {{< highlight c "linenos=table,linenostart=1" >}} */
.highlight div {
	overflow : auto;
	padding-right : 20px;
	background-color: #181818 !important;
}
.highlight pre {
	background-color: #181818 !important;
}

/* {{< highlight c >}} */
.highlight > pre {
	overflow : auto;
	padding : 20px;
}

/* Table */

.tbl table {
	border: 2px solid #151515;
	background-color : #202020;
}

.tbl.w40 th:nth-child(1) {
	width: 40%;
}

.tbl.w50 th {
	width: 50%;
}

.tbl th, .tbl tr:nth-child(even) {
  background-color: #191919;
}

.tbl th, .tbl td {
	padding-left : 5px;
	padding-right : 5px;
}

/* Pagination */

.pagination {
	list-style-type: none;
	margin: auto;
	margin-top : 5px;
	overflow: hidden;
	background-color: #202020;
	float: right;
}

.page-item {
	float: left;
  	border: 2px solid #303030;
	border-radius : 10px;
	margin : 3px;
	margin-top : 10px;
	width : 25px;
	height : 25px;
	text-align: center;
	line-height: 150%;
}

.page-item.active {
	border: 2px solid #00aabb;
	color: #00aabb;
}

.page-item.disabled {
	color: #505050;
}

.page-item.disabled a:hover {
	color: #505050;
}

.page-link {
	text-align: center;
	text-decoration: none;
}

/* Cookie Container */

.cookie-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #161616;
  color: #00aabb;
  padding: 0 32px;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
  text-align: center;
  font-size: 14px;
  z-index: 10;
  transition-delay: 1s;
  transition: 400ms;
}

.cookie-container.active {
  bottom: 0;
}

.cookie-refuse-btn {
	background: #a7a7a7;
	border: 0;
	color: #101010;
	padding: 10px 25px;
	margin-left : 5px;
	font-size: 15px;
	margin-bottom: 16px;
	border-radius: 10px;
	cursor: pointer;
}

.cookie-refuse-btn:hover {
	background: #d8d8d8;
}

.cookie-accept-btn {
	background: #00aabb;
	border: 0;
	color: #101010;
	padding: 10px 25px;
	margin-right : 5px;
	font-size: 15px;
	margin-bottom: 16px;
	border-radius: 10px;
	cursor: pointer;
}

.cookie-accept-btn:hover {
	background: #06d3e6;
}

/* Foldout */

.foldout_button {
	width: fit-content;
	background-color: #282828;
	color: #00aabb;
	margin-bottom: 5px;
	padding: 5px 35px 5px 15px;
	border: none;
	border-radius : 10px;
	text-align: left;
	font-size: 15px;
	margin-top: 5px;
	line-height: 25px;
	font-weight: bold;
	cursor: pointer;
}

.foldout_active, .foldout_button:hover {
	background-color: #303030;
	/*border: 3px solid #404040;*/
	color: #00ddff;
}

.foldout {
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 0px 15px 0px 10px;
	overflow: hidden;
	background-color: #282828;
	border-radius : 10px;
}

.foldout > ul {
	padding-left: 30px;
}

.foldout img {
	background-color: #202020;
	/*border: 2px solid #161616;*/
	/*border-radius : 10px;*/
}

.foldout_button:has(+ :target) {
	box-shadow: 0 0 3px #64c5eb;
}

.foldout:target {
	box-shadow: 0 0 3px #64c5eb;
	scroll-margin-block-start: 4rem;
}

/* Tab Panel */

.tabs {
	display : flex;
	gap: 10px;
}

.tab, .tab-grey {
	padding: 5px 15px;
	text-align: left;
	font-size: 15px;
	border-radius : 10px 10px 0px 0px;
	display: flex;
	line-height: 25px;
	border : none;
}

.tab {
	background-color: #282828;
	color: #00aabb;
}

.tab-grey {
	background-color: #191919;
	color: #999999;
}

.tab-grey:hover {
	background-color: #303030;
}

.tabpanel {
	margin-left : -10px;
	margin-right : -10px;
	margin-bottom : 10px;
	padding: 0px 10px;
	overflow: hidden;
	background-color: #282828;
	border-radius : 10px 10px 10px 10px;
	/*border: 3px solid #303030;*/
}

/* tabpanel contents are hidden by default */
.tabpanel > div {
	display : none;
}

/* first child <div> (with no class) can be visible by default */
/* though javascript overrides this anyway */
.tabpanel > div:not([class]):first-child {
	display : block;
}

/* Footer Content */

hr {
	border: 2px dashed #505050;
	margin-top : 20px;
	margin-bottom : 20px;
}

.footer-btns {
	text-align: center;
}

.footer-btn {
	margin: 2px 10px;
	background-color:#3d3d3d;
	/*box-shadow: 2px 2px 0px rgb(0 0 0 / 20%);*/
    line-height: 36px;
    min-width: 150px;
    display: inline-flex;
	text-align: center;
	align-items: center;
    padding: 2px 12px;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    overflow-wrap: break-word;
    vertical-align: middle;
    text-decoration: none;
    text-shadow: none;
    font-weight: 600;
    font-size: 15px;
}

.btn-discord {
	background-color:#7289DA;
}

.btn-kofi {
	background-color:#e664fa;
}

.btn-discord:hover{
	background-color:#6479c7;
}

.btn-kofi:hover{
	background-color:#d25ce4;
}

/* Notice Box */

.notice {
	margin: 5px 0px;
	display:flex;
	background-color: #282828;
	border-radius : 10px;
	border: 3px solid #303030;
}

.notice-left {
	/*background-color: #303030;*/
	margin-right: 10px;
	background: repeating-linear-gradient(
		45deg,
		#262626,
		#262626 12px,
		#202020 12px,
		#202020 24px
	);
	border-radius : 6px 0px 0px 6px;
}

.notice-exclamation {
	margin: 15px 10px;
	background-color: #00aabb;
	color:#202020;
	min-width : 28px;
	height : 28px;
	border-radius : 100%;
	font-weight: 700;
    font-size: 20px;
	text-align: center;
}

.notice > div > p {
	margin : 5px 0px;
}

/* Title Adjustments */
/*
.title-no-margin -> used for titles on cards
.title-undecorated -> used for footer title
*/

h1:not(.title-no-margin) {
	text-align: center;
	padding : 0px 0px 20px 0px;
}

.title-undecorated  {
	margin-top : 30px;
}

h2:not(.title-no-margin):not(.title-undecorated), h3, h4 {
	margin-top : 30px;
	padding : 7px 20px;
	background-color: #282828;
	/*border-bottom: 2px solid #505050;*/
	border-left: 10px solid #00aabb;
	border-radius: 7px;
}

.foldout > h2, .foldout > h3, .foldout > h4 {
	background-color: #303030;
}

.tabpanel > div > h2, .tabpanel > div > h3, .tabpanel > div > h4 {
	background-color: #303030;
}

/* title link button */
.hLink {
	float:right;
	font-size: large;
	opacity: 0.1;
	transition: 0.2s;
}

h2:hover > .hLink, h3:hover > .hLink, h4:hover > .hLink {
	opacity: 0.7;
	transition: 0.2s;
}

.hLink:hover {
	cursor:pointer;
}